keras
tensorflow
# get that GPU speed!
# tensorflow-gpu
# newer version of numpy works but leaves an annoying error message at runtime
numpy==1.22.0
pandas

theano

scikit-learn

# tools
jupyterlab
matplotlib
seaborn

# utils
autopep8
pylint
# html5lib version 1.0.1 or newer to make tensorboard happy
html5lib==1.0.1
pydot

# Image libraries
opencv-python
# required for PIL -- image manipulation, at least in gan.py
pillow